<div class="puppy_div" >
    <!--Pipes allow you to perform temporary transformations of data, for the purpose of displaying data differently.-->
    <h1>=========================</h1>
    <h3>{{dog.name | uppercase}}</h3>
    <!--Applying a custom pipe.-->
    <!-- <p>{{recipe.cookTimeInMinutes}}</p> -->
    <!-- <img class="recipe_img" src="{{recipe.img_url}}"/> -->
    <ol>
        <li></li>
        <li></li>
    </ol>
<!--Let's add an input box which allows us to modify the description of the recipe. 

This input box makes use of "ngModel". "ngModel" is a type of "two-way data binding". Note the syntax below as it combines the syntax for property and event binding. In this case, we've bound the value of the input box to the value of the recipe object's "description" property. Also note that we had to import the FormsModule in our app.module.ts file to bring in support for ngModel.-->
    <label for="description">Change Description: </label>
    <!-- <input [(ngModel)]="recipe.description" type="text" name="description"/> -->
</div>

